.calculator-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 500px;
    justify-content: center;
    /*align-items: center;*/
    /*justify-content: space-between;*/
    /*justify-content: flex-end;*/
    /*justify-content: flex-start;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
    /*flex-wrap: wrap-reverse;*/
    background-color: rgb(174, 184, 184);
}

.calculator-container>div {
    background-color: rgb(221, 221, 228);
    margin: 5px;
    padding: 20px;
    font-size: 20px;
}