.static {
   position: static;
   background-color:rgb(29, 44, 44);
   color:cornsilk;
   margin: 5px;
   padding: 10px;
   border: 5px solid cadetblue;
}

.relative {
    position: relative;
    left: 50px;
    top: 100px;
    background-color:rgb(44, 65, 65);
    color:cornsilk;
    margin: 5px;
    padding: 10px;
    border: 5px solid cadetblue;
 }

 .absolute {
    position: absolute;
    left: 10%;
    width: auto;
    height: auto;
    top: 50%;
    background-color:rgb(33, 49, 49);
    color:cornsilk;
    margin: 5px;
    padding: 10px;
    border: 5px solid cadetblue;
 }

 .fixed {
    position: fixed;
    left: 0;
    top: 0;
    background-color:rgb(37, 58, 58);
    color:cornsilk;
    margin: 5px;
    padding: 10px;
    border: 5px solid cadetblue;
    width: 100%;
 }

 .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 200px;
    background-color:rgb(26, 41, 41);
    color:cornsilk;
    margin: 5px;
    padding: 5px;
    border: 5px solid cadetblue;
    width: auto;
    height: auto;
 }